<footer class="footer container-fluid">
    <div class="">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img src="{{ asset('img/logos/mit.png') }}" alt="mit license">
                <img src="{{ asset('img/logos/openS.png') }}" alt="open source">
            </div>
            <div class="col-md-4 text-center">
                <p>{{ 'global.ubu'|trans({}, 'BaseBundle') }}</p>
            </div>
        </div>
    </div>
</footer>