<footer class="footer container-fluid">
    <div class="">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ asset('img/logos/cc.png') }}" alt="Creative Commons license 4.0">
                <img src="{{ asset('img/logos/ccPersonal.png') }}" alt="Cultura libre. Reconocimiento de autoría">
                <img src="{{ asset('img/logos/openS.png') }}" alt="open source">
            </div>
            <div class="col-md-4 text-center">
                <p>{{ 'global.ubu'|trans({}, 'BaseBundle') }}</p>
            </div>
        </div>
    </div>
</footer>